<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <form action="/contact" method="POST">     
          <h2>Contact us</h2>       
              <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
              </div>
              <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
              </div>
              <div>
                <label for="number">Phone</label>
                <input type="text" id="number" name="number" required>
              </div>
              <div>
                <label for="wensite">Website</label>
                <input type="url" id="website" name="website" required>
              </div>
              <div>
                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" required>
              </div>

              <div>
                <label for="description">Details</label>
                <input type="text" id="description" name="description" required>
              </div>
              <button  class="" type="submit">Send</button>
        </form>



</section> 
</body>


</html>